[submodule "packages/contracts/lib/chainlink"]
	path = packages/contracts/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "packages/circuits/circomlib"]
	path = packages/circuits/circomlib
	url = https://github.com/iden3/circomlib.git
[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/contracts/lib/cement"]
	path = packages/contracts/lib/cement
	url = https://github.com/HelheimLabs/cement
[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/contracts/lib/ds-test"]
	path = packages/contracts/lib/ds-test
	url = https://github.com/dapphub/ds-test
