[submodule "packages/contracts/lib/chainlink"]
	path = packages/contracts/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "packages/circuits/circomlib"]
	path = packages/circuits/circomlib
	url = https://github.com/iden3/circomlib.git
[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
