[profile.default]
solc_version = "0.8.13"
ffi = false
fuzz_runs = 256
optimizer = true
optimizer_runs = 3000
verbosity = 2
gas_reports = ["*"]
src = "src"
test = "test"
out = "out"
allow_paths = [
  # pnpm symlinks to the project root's node_modules
  "../../node_modules",
  # template uses linked mud packages from within the mud monorepo
  "../../../../packages",
  # projects created from this template and using linked mud packages
  "../../../mud/packages",
]
extra_output_files = [
  "abi",
  "evm.bytecode"
]
fs_permissions = [{ access = "read", path = "./"}]

[profile.lattice-testnet]
eth_rpc_url = "https://follower.testnet-chain.linfra.xyz"
optimizer = true
optimizer_runs = 3000

[profile.arbitrum-goerli]
eth_rpc_url = "https://goerli-rollup.arbitrum.io/rpc"
optimizer = true
optimizer_runs = 3000

[profile.linea-testnet]
eth_rpc_url = "https://linea-goerli.infura.io/v3/387863acec7546a493dc43cb04d8c225"
optimizer = true
optimizer_runs = 3000


[profile.mumbai]
eth_rpc_url = "https://polygon-mumbai.g.alchemy.com/v2/iUC0GH6CW_qfRxEzlipX-obRqJZRcnfg"
optimizer = true
optimizer_runs = 3000


[profile.alt]
eth_rpc_url = "https://flashlayer.alt.technology/autochessia7806fd60"
optimizer = true
optimizer_runs = 3000

[fmt]

ignore = ["lib/**/*"]

