.board {
  width: 560px;
  height: 560px;
  border: 1px solid #999;
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  margin: 0px auto;
}

.black {
  background-color: #999;
}

.coin-area {
  width: 200px;
  background: #ddd;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
}

.hero-area {
  width: 200px;
  background: #ddd;
  display: flex;
  /* flex-direction: column; */
}

.hero-area > div {
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
  display: grid;
  align-items: center;
}

.hero-area img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.bench-area {
  margin: 0 auto;
  border-radius: 10px;
}

.bench-area > div {
  padding: 10px;
  background: #fff;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.placement-area {
  width: 200px;
  background: #ddd;
  display: flex;
  flex-direction: column;
}

.placement-area > div {
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.board {
  /* background: burlywood; */
  flex-grow: 1;
}

.square {
  width: 70px;
  height: 70px;
  float: left;
  border: 3px solid #333;
  box-sizing: border-box;
}

.flag-bg {
  width: 80px;
  height: 71px;
  background: linear-gradient(
    180deg,
    rgba(76, 136, 152, 0.88) 0%,
    rgba(40, 110, 128, 0.27) 100%
  );
  border-radius: 0px 0px 20px 20px;
  opacity: 1;
  margin: 0 40px;
}

.flag-text {
  height: 17px;
  font-size: 16px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
}

.timeleft {
  height: 56px;
  font-size: 50px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
  position: inherit;
}

.shopItem {
  width: 145px;
  background: #000;
  border-radius: 10px 10px 10px 10px;
  opacity: 1;
  padding: 13px;
}

.refresh {
  width: 180px;
  height: 40px;
  background: linear-gradient(180deg, #ff4087 0%, #ec5353 100%);
  opacity: 1;
  font-size: 16px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: #ffffff;
  /* line-height: 0px; */
}

.playerList {
  width: 295px;
  background: linear-gradient(
    180deg,
    rgba(80, 219, 255, 0.27) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px 20px 20px 20px;
  opacity: 1;
  padding: 20px 10px;
  box-sizing: border-box;
}

.playerList-tit {
  height: 21px;
  font-size: 16px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: #ffffff;
  line-height: 0px;
}

.players {
  width: 275px;
  height: 76px;
  background: rgba(0, 0, 0, 0.27);
  border-radius: 10px 10px 10px 10px;
  opacity: 1;
}

.player-addr {
  width: 100px;
  height: 16px;
  font-size: 14px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
}
.player-coin {
  width: 30px;
  height: 16px;
  font-size: 14px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: #ffd426;
  line-height: 1;
}
.player-lv {
  width: 30px;
  height: 16px;
  font-size: 14px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: #ff7167;
  line-height: 1;
}

.player-hp {
  height: 17px;
  font-size: 16px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: red;
}
