.board {
  flex-grow: 1;
  width: 560px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  /* box-sizing: content-box; */
  /* margin: 0px auto; */
  background: url(/assets/board.png);
  background-repeat: no-repeat;
  background-size: 1020px auto;
  background-position: center;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.handle-area {
  height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: #999;
}

.coin-area {
  width: 200px;
  background: #ddd;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
}

.hero-area {
  width: 200px;
  background: #ddd;
  display: flex;
  /* flex-direction: column; */
}

.hero-area > div {
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
  display: grid;
  align-items: center;
}

.hero-area img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.bench-area {
  margin: 0 auto;
  /* border-radius: 10px; */

  /* background: url(/assets/Inventory.png); */
  /* background-size: contain; */
}

.bench-area-hero > div {
  padding: 10px;
  /* background: #fff; */
  /* border: 1px skyblue solid; */
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.placement-area {
  width: 200px;
  background: #ddd;
  display: flex;
  flex-direction: column;
}

.placement-area > div {
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.inventory-hero {
  border: 1px gold solid;
  border-radius: 20px;
}

.line {
  border: 4px solid transparent;
  /* border: 4px solid transparent; */

  display: flex;
  box-sizing: border-box;

  .chess {
    width: 12.5%;
    height: 100%;
  }
}

.line:nth-child(1) {
  margin-top: 0px;
  /* width: 465px; */
  /* height: 58px; */

  .square {
    margin-top: unset;
    /* b-left: 2px; */
    width: 58px;
    height: 58px;
  }
}

.line:nth-child(2) {
  margin-top: -30px;
  /* width: 480px;
  height: 60px; */

  .square {
    width: 59px;
    height: 60px;
  }
}

.line:nth-child(3) {
  margin-top: -35px;
  /* 
  width: 495px;
  height: 62px; */

  .square {
    margin-top: unset;
    width: 60px;
    height: 62px;
  }
}

.line:nth-child(4) {
  /* width: 510px;
  height: 64px; */
  margin-top: -30px;

  .square {
    margin-top: unset;
    width: 62px;
    height: 64px;
  }
}

.line:nth-child(5) {
  /* width: 520px;
  height: 66px; */
  margin-top: -30px;

  .square {
    margin-top: unset;
    width: 64px;
    height: 66px;
  }
}

.line:nth-child(6) {
  /* width: 530px;
  height: 68px; */
  margin-top: -25px;

  .square {
    margin-top: unset;
    width: 66px;
    height: 68px;
  }
}

.line:nth-child(7) {
  /* width: 550px;
  height: 76px; */
  margin-top: -30px;

  .square {
    margin-top: unset;
    width: 68px;
    height: 76px;
  }
}

.line:nth-child(8) {
  /* width: 560px;
  height: 80px; */
  margin-top: -30px;

  .square {
    margin-top: unset;
    width: 70px;
    height: 80px;
  }
}

.square {
  float: left;
  border: 4px solid transparent;
  /* border: 4px solid transparent; */
  /* 需要调试的话,可以打开这里的注释显示边框 */
  margin: 0px auto 0px auto;

  .chess {
    width: 12.5%;
    height: 100%;
  }
}

.draging {
  border-radius: 20px;
  border: 3px solid #333;
  background-color: blanchedalmond;
}

.flag-bg {
  width: 80px;
  height: 71px;
  background: linear-gradient(
    180deg,
    rgba(76, 136, 152, 0.88) 0%,
    rgba(40, 110, 128, 0.27) 100%
  );
  border-radius: 0px 0px 20px 20px;
  opacity: 1;
  margin: 0 40px;
}

.flag-text {
  height: 17px;
  font-size: 16px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
}

.timeleft {
  height: 56px;
  font-size: 50px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
  position: inherit;
}

.shopItem {
  width: 145px;
  background: #000;
  border-radius: 10px 10px 10px 10px;
  opacity: 1;
  padding: 13px;
}

.refresh {
  width: 180px;
  height: 40px;
  background: linear-gradient(180deg, #ff4087 0%, #ec5353 100%);
  opacity: 1;
  font-size: 16px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: #ffffff;
  /* line-height: 0px; */
}

.playerList {
  width: 295px;
  background: linear-gradient(
    180deg,
    rgba(80, 219, 255, 0.27) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px 20px 20px 20px;
  opacity: 1;
  padding: 20px 10px;
  box-sizing: border-box;
}

.playerList-tit {
  height: 21px;
  font-size: 16px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: #ffffff;
  line-height: 0px;
}

.players {
  width: 275px;
  height: 76px;
  background: rgba(0, 0, 0, 0.27);
  border-radius: 10px 10px 10px 10px;
  opacity: 1;
}

.player-addr {
  width: 100px;
  height: 16px;
  font-size: 14px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
}
.player-coin {
  width: 30px;
  height: 16px;
  font-size: 14px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: #ffd426;
  line-height: 1;
}
.player-lv {
  width: 30px;
  height: 16px;
  font-size: 14px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: #ff7167;
  line-height: 1;
}

.player-hp {
  height: 17px;
  font-size: 16px;
  font-family: Arial-Regular, Arial;
  font-weight: 400;
  color: red;
}

.notice-board {
  width: 109px;
  height: 70px;
  border: 2px solid #97c2d0;
  border-radius: 5px;
  padding: 7px;
  box-sizing: border-box;
  position: relative;
}

.notice-board-text {
  position: absolute;
  right: 7px;
  bottom: 7px;
}

.hero-info-box {
  width: 131px;
  /* height: 327px; */
  background: #323846;
  border: 1px solid #2c84a8;
  border-radius: 9px;
  box-sizing: border-box;
  padding: 10px;
}
